*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}


body {
    background-color: rgb(68, 68, 158);
}
main{
    background-color: white ;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px;

}
h1{
    font-size: 2em;
    color: rgb(114, 114, 143);
}
h2{
    font-size: 1.5em;
    color: rgb(124, 124, 138);
}
img.lado{
    float: right;
}